<form [formGroup]="form" (ngSubmit)="submit()" class="form">
  <div class="mb-3">
    <label for="formControlInput" class="form-label">Name</label>
    <input type="text" name="name" formControlName="name" class="form-control" placeholder="Name" id="formControlInput">
  </div>
  <div class="mb-3">
    <label for="formControlInput1" class="form-label">Email address</label>
    <input type="text" name="e-mail" formControlName="email" placeholder="E-mail" class="form-control" id="formControlInput1">
  </div>
  <div class="mb-3">
    <label for="formControlInput2" class="form-label">Phone</label>
    <input type="text" name="phone" formControlName="phone" placeholder="79994521669" class="form-control" id="formControlInput2">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  <div *ngIf="loader" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</form>
